<! -- наследование шаблона default -->
{% extends 'flatpages/default.html' %}

{% block title %} News {% endblock title %}

{% load custom_filters %}

<! -- начало контента -->
{% block content %}

<!-- Перед таблицей добавим форму для поиска -->
<form method="GET">
    {{ filter.form }} <!-- Форму от фильтров за нас сделает django.
    А вот кнопку, увы придётся делать самому -->
    <input type="submit" value="Найти">
</form>

<h1>Новости</h1>
<h6>Количество новостей (вариант 1): {{ posts_qty }}</h6>
<h6>Количество новостей (вариант 2): {{ object_list|length }}</h6>
{# <hr> #}
{# <h6>Список новостей: {{ object_list }}</h6> #}

{# согласно синтаксису языка шаблонов Django, #}
<! переменные должны быть окружены двойными фигурными скобками {{ news }} >
{# а теги в одну фигурную скобку и символ "%": {% news %} пишутся, когда нужно задать условие #}

<hr>
{% if object_list %}
    <table>
        <tr>
            <td>
                <b>
                    № поста
                </b>
            </td>
            <td>
                <b>
                    Заголовок
                </b>
            </td>

            <td>
                <b>
                    Дата публикации в формате (день.месяц.год)
                </b>
            </td>
            <td>
                <b>
                    Первые 20 слов текста статьи
                </b>
            </td>
        </tr>
        {% for post in object_list %} <! object_list содержит все объекты модели Post >
        <tr>
            <td>
                {{ post.id }}
            </td>

            <td>
                {{ post.title|default:"Без заголовка"|truncatewords:4|censor:'***' }}
            </td>
            <td>
                {{ post.date_created|default:"Без даты" }}
            </td>
            <td>
                {{ post.content|truncatechars:20|censor:'***' }}
            </td>
        {% endfor %}
        </tr>
    </table>
{% else %}
<h2>
    Новостей нет!
</h2>
{% endif %}

<!-- Проверяем что поддерживается постраничный вывод -->
{% if is_paginated %}

    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
           <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}


<! -- конец контента -->
{% endblock content %}